---
import Layout from '../layouts/Layout.astro';
const {frontmatter} = Astro.props;
let data = import.meta.glob('../pages/*.md', {eager: true})

const posts = Object.values(data)
posts.sort((a, b)=> new Date(b.frontmatter.published) - new Date(a.frontmatter.published))
console.log(posts)
const showUnpublished = import.meta.env.DEV; // true if in development false if in production
---

<Layout>
      {
        
        posts.map((x)=>{
          
          if(!x.frontmatter.published && !showUnpublished) return ''
          return (
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="article">
                <div class="post-image" style={{
                  backgroundImage: `url(${x.frontmatter.poster.url})`, 
                  backgroundPosition: 'center center', 
                  backgroundSize: 'cover'}}></div>
                  <div class="post-content">
                    <h2 class="h5">{x.frontmatter.title.substring(0,24)}...</h2>
                    <div class="post-tags">{x.frontmatter.tags.map((tag)=><span class="badge rounded-pill text-bg-primary">{tag}</span>)}</div>
                    <div class="post-published"><em><strong>Published:</strong> {x.frontmatter.published} <strong>Author:</strong> {x.frontmatter.author}</em></div>
                    <div class="post-description">{x.frontmatter.description.substring(0,76)}...</div>
                    <div class="post-readmore text-end m-0 mb-1 mx-3"><a class="btn btn-primary rounded-pill" href={x.url}>Read more</a></div>
                  </div>
              </div>
            </div>
          )
        })
      }
</Layout>

<style>

  .article{
    margin-top: 3rem;
    width: 100%;
    max-width: 300px;
    height: 490px;
    box-shadow: 0rem .04rem 1rem rgba(172, 171, 171, 0.2);
    position: relative;
    border-radius: 8px;
  }

  .post-content{
    padding: 8px;
  }

  .post-image{
    width: 100%;
    min-width: 250px;
    height: 200px;
    border-radius: 4px;
  }

  .post-published{
    font-size: 12px;
    margin: 0;
    margin-bottom: 0.5rem;
  }

  .post-tags span{
    margin-right: 0.5rem;
  }

  .post-readmore{
    position: absolute;
    bottom: 10px;
    right: 0;
  }

  @media (max-width: 768px){
    .article{
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media(max-width: 576px){
    .post-description{
      font-size: 1.1rem;
    }
  }
</style>
